@import 'reset';
@import 'global';
@import 'variables';


main {
    width: 90%;
    max-width: 57.5rem;
    min-height: 33.4375rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: 1rem;


    .main-image {
        margin: -1.5rem 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 14.875rem;

        background-image: url('../images/bg-pattern-mobile.svg');
        background-position: left 50% top 5%;
        background-size: contain;
        background-repeat: no-repeat;

        img {
            transform: translateY(-60%);
        }

    }

    section {
        margin-top: 8rem;

        h1 {
            font-size: 2rem;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2.375rem;
        }

        ul {
            li {
                padding: 1rem 0;

                .faq__qustion {
                    span {
                        display: inline-block;
                        width: 95.5%;
                    }

                    picture {
                        display: inline-block;
                        width: 4%;
                        text-align: right;
                    }

                    &:hover {
                        color: $primary_red;
                    }
                }

                .faq_ans {
                    display: none;
                    width: 95.5%;
                }

                &.active {
                    .faq__qustion {
                        font-weight: 700;
                    }

                    .faq_ans {
                        display: block;
                        margin-top: 1rem;
                    }

                    .arrow {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

        }
    }

    @media only screen and (min-width:48rem) {
        display: flex;
        max-height: 31.875rem;
        position: relative;
        font-size: .875rem;

        >* {
            flex: 1;
        }

        section {
            margin-top: 3rem;

            h1 {
                text-align: left;
                margin-top: 2.75rem;
            }

            ul {
                padding-right: 4rem;
            }
        }

        >div {
            position: relative;

            .main-image {
                bottom: 0;
                left: 0%;
                max-width: 29.5rem;
                max-height: 22.5rem;
                transform: translate(-20%, 0%);

                background-image: url('../images/bg-pattern-desktop.svg');
                background-position: left 50% bottom 0%;
                background-size: cover;
                background-repeat: no-repeat;

                img {
                    width: 100%;
                    transform: translateY(-27%);


                }
            }
        }

    }
}